{% extends 'base.html' %}
{% block page_title %}
    Məqalə detay
{% endblock page_title %}
{% block body %}
    <h2>Məqalə detay</h2>
    <div class="articles">
        <ul>
            <li>
                <h3>Yazar:{{article.author}}</h3>
                <h4>Başlıq:{{article.title}}</h4>
                <p>Məzmun:{{article.content|safe}}</p>
                <small>Yaradılış tarixi:{{article.created_date}}</small>
                <br><br>
                {% if article.image %}
                    <img src="{{article.image.url}}" alt="">
                {% endif %}
                <hr>
            </li>
        </ul>
    </div>
{% endblock body %}