{% extends 'base.html' %}
{% block page_title %}
    Bizim məqalələrimiz
{% endblock page_title %}
{% block body %}
    <h2>Bizim məqalələrimiz</h2>
    <div class="articles">
        <ul>
            {% for article in articles %}
                <li>
                    <h3>{{article.author}}</h3>
                    <h4>{{article.title}}</h4>
                    <p>{{article.content}}</p>
                    <small>{{article.created_date}}</small>
                    <hr>
                </li>
                
            {% endfor %}
        </ul>
    </div>
{% endblock body %}