{% extends "base.html" %}

{% block page_title %}
    Home page
{% endblock page_title %}

{% block body %}

{% if messages %}

    {% for message in messages%}
        {% if message.tags == "warning"%}
            <div class="alert_warning">
                {{message}}
            </div>
        {% else %}
            <div class="alert_success">
                {{message}}
            </div>
        {% endif %}
    {% endfor%}

{% endif %}

    <h1>Ana səhifə</h1>
    {% comment %} <script src = "{% static "app.js" %}"></script> {% endcomment %}
{% endblock body %}